<section class="work-experience" aria-labelledby="work-experience-heading">
    <header class="header">
        <h2 style="font-size: 1.1rem;" id="work-experience-heading">Work Experience</h2>
        <a href="https://www.linkedin.com/in/ajaynegi45/details/experience/" class="link"
           title="View Ajay Negi's complete work experience on LinkedIn">
            <span>More Exp..</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-external-link">
                <path d="M15 3h6v6"></path>
                <path d="M10 14 21 3"></path>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
            </svg>
        </a>
    </header>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-item-content">
                <div class="header-info" role="article">
                    <p>Nov 2022 - Jan 2025</p>
                    <h3 style="font-size: 1rem;">Software Developer Intern</h3>
                </div>
                <p class="company">Infosys Springboard</p>
                <p class="achievements" role="article">Built ShieldMe, a full-stack emergency response and mental wellness platform with Spring Boot, Kafka, MongoDB, and React. Designed four distributed microservices supporting real-time SOS alerts, authentication, geolocation, journaling, and an admin dashboard. Improved system reliability by 90% through robust logging and error handling, and applied Agile and Scrum principles development.</p>
            </div>
        </div>

        <!--<div class="timeline-item">-->
        <!--    <div class="timeline-item-content">-->
        <!--        <div class="header-info" role="article">-->
        <!--            <p>Oct 2024 – Nov 2024</p>-->
        <!--            <h5>Project Admin</h5>-->
        <!--        </div>-->
        <!--        <p class="company">GirlScript Summer of Code</p>-->
        <!--        <p class="achievements" role="article">-->
        <!--            Managed 200+ issues and 100+ pull requests in an open-source community, merging 40+ quality contributions to improve code reliability. Mentored 50+ contributors through feedback, technical support, and task coordination to meet project milestones.-->

        <!--        </p>-->
        <!--    </div>-->
        <!--</div>-->

    </div>
</section>

<style>
    /* Header Section */
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header > h2 {
        margin-bottom: 0.5rem;
    }

    .header > a {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
    }

    .header > a > svg {
        font-size: 14px;
        margin-bottom: 3px;
    }

    /* Timeline Section */
    .timeline {
        max-width: 700px;
        margin-left: 0.5rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        font-size: 1.125rem;
        position: relative;
        border-left: 1.5px solid transparent; /* Default solid border to use gradient on */
        border-image: linear-gradient(to bottom, var(--primary), var(--bg)); /* Gradient from --primary to --bg */
        border-image-slice: 1; /* Ensures the border spans the entire length */
        transition: border-image 0.3s ease; /* Smooth transition for the border */
    }

    .timeline-item {
        display: flex;
        gap: 20px;
        position: relative;
    }

    .timeline-item::before {
        content: '';
        width: 14px;
        height: 14px;
        background: var(--text);
        border-radius: 50%;
        border: 2px solid var(--bg);
        position: absolute;
        left: -7.4px;
        top: 10%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .timeline-item-content {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .header-info {
        margin-top: 0.7rem;
    }

    .timeline-item-content .header-info > p {
        font-size: 14px;
        color: var(--text4);
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    .timeline-item-content .header-info > h5 {
        margin-bottom: 0.4rem;
    }

    .company {
        margin-bottom: 0.3rem;
    }

    .achievements {
        font-size: 15px;
        color: var(--text4);
        font-weight: 400;
    }
</style>