<section class="work-experience" aria-labelledby="work-experience-heading">
    <header class="header">
        <h4 id="work-experience-heading">Work Experience</h4>
        <a href="https://www.linkedin.com/in/ajaynegi45/details/experience/" class="link"
           title="View Ajay Negi's complete work experience on LinkedIn">
            <span>More Exp..</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-external-link">
                <path d="M15 3h6v6"></path>
                <path d="M10 14 21 3"></path>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
            </svg>
        </a>
    </header>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-item-content">
                <div class="header-info" role="article">
                    <p> Nov 2022 - Jan 2025</p>
                    <h5>Software Developer Intern</h5>
                </div>
                <p class="company">Infosys</p>
                <p class="achievements" role="article">
                    Accomplished a 90% improvement in reliability and increased user engagement for the ShieldMe
                    platform by implementing robust logging, detailed error handling, and adding key features such as
                    authentication, geolocation tracking, journaling, and SOS alerts with real-time notifications, all
                    built using Spring Boot, MongoDB, and React.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .work-experience {
        margin: 1rem 0;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header > h4 {
        margin-bottom: 0.5rem;
    }
    .header > a {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 0.3rem;
    }
    .header > a > svg {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .header-info {
        margin-top: 0.7rem;

    }
    .header-info > p {
        font-size: 14px;
        color: var(--text4);
        margin-bottom: 0.7rem;
    }
    .achievements {
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        letter-spacing: 0.25px;
        line-height: 1.35;
        color: var(--text4);
        text-rendering: optimizeSpeed;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .timeline {
        max-width: 700px;
        margin-left: 0.5rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        font-size: 1.125rem;
        position: relative;
        border-left: 1.5px solid transparent; /* Default solid border to use gradient on */
        border-image: linear-gradient(to bottom, var(--primary), var(--bg)); /* Gradient from --primary to --bg */
        border-image-slice: 1; /* Ensures the border spans the entire length */
        transition: border-image 0.3s ease; /* Smooth transition for the border */
    }
    .timeline-item {
        display: flex;
        gap: 20px;
        position: relative;
    }
    .timeline-item::before {
        content: '';
        width: 14px;
        height: 14px;
        background: var(--text);
        border-radius: 50%;
        border: 2px solid var(--bg);
        position: absolute;
        left: -7.4px;
        top: 10%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .timeline-item-content {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
</style>