---

---

<footer class="footer">
    <p class="footer-text">Made with ❤️ by Ajay Negi</p>
    <p>© 2025 | Portfolio</p>
</footer>

<style>

    .footer {
        border-top: 1px solid rgb(38 38 38/1);
        text-align: center;
        padding: 1rem;
        color: var(--text5);
        font-size: 1rem;

        margin-top: 3rem;
    }
</style>