---

---

<section class="project-section" aria-labelledby="projects-heading">
    <div>
        <h4>Project</h4>
        <p>I’ve worked with various technologies and tools to build innovative projects. Here are some of my key
            projects:</p>
    </div>


    <article class="project">
        <header>
            <h5>Uttarakhand Culture Preservation</h5>
            <p class="technologies">Next.js, PostgreSQL, React</p>
        </header>
        <div class="project-content">
            <ul>
                <li>A groundbreaking open-source initiative aimed at preserving and promoting the rich cultural
                    heritage of Uttarakhand for future generations.
                </li>
                <li>The platform offers an immersive digital journey through Uttarakhand’s language, stories,
                    history, spiritual heritage, cuisine, festivals, art, music, and more—creating an educational
                    hub that connects culture with modern technology.
                </li>
            </ul>
        </div>
    </article>

    <article class="project">
        <header>
            <h5>Vayu - Web Server</h5>
            <p class="technologies">Netty, Java</p>
        </header>
        <div class="project-content">
            <ul>
                <li>Implemented CRUD operations, integrated MySQL for data storage, and utilized Spring Data JPA for
                    efficient data management.
                </li>
                <li>Achieved an average response time of 300ms and handled over 10,984 API requests with a peak rate
                    of 162 requests/second, demonstrating high reliability and performance.
                </li>
            </ul>
        </div>
    </article>



    <p class="more-work-experience">
        <a href="https://www.github.com/ajaynegi45">More project detail

            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg>
        </a>
    </p>
</section>

<style>

    .project-section {
        margin-bottom: 3rem;
    }
    .project{
        margin-top: 1rem;
    }
    .project-content > ul {
        padding-left: 0.5rem;
        list-style-type: none;
    }

    li::before {
        content: '–';
        font-size: 20px;
        color: #4CAF50;
        margin-right: 10px;
    }

    .more-work-experience{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .more-work-experience > svg {
        width: 1rem;
        height: auto;
    }
</style>
