---
import github from "../assets/skills/github_dark.svg";
import java from "../assets/skills/java.svg";
import javascript from "../assets/skills/javascript.svg";
import react from "../assets/skills/react_dark.svg";
import typescript from "../assets/skills/typescript.svg";
import astro from "../assets/skills/astro_dark.svg";
import k6 from "../assets/skills/K6-load-testing-tool-logo.svg";
import docker from "../assets/skills/docker.svg";
import kubernetes from "../assets/skills/kubernetes.svg";
import go from "../assets/skills/golang_dark.svg";
import mongodb from "../assets/skills/mongodb.svg";
import spring from "../assets/skills/spring.svg";
import postgresql from "../assets/skills/postgresql.svg";
import aws from "../assets/skills/aws_dark.svg";
import linux from "../assets/skills/linux.svg";
import bash from "../assets/skills/bash_dark.svg";
import nextjs from "../assets/skills/nextjs_icon_dark.svg";
import postman from "../assets/skills/postman.svg";
import mysql from "../assets/skills/mysql.svg";
import kafka from "../assets/skills/kafka.svg";
import html from "../assets/skills/html5.svg";
import css from "../assets/skills/css.svg";
import nodejs from "../assets/skills/nodejs.svg";
import git from "../assets/skills/git.svg";
import jira from "../assets/skills/jira.svg";
import jenkins from "../assets/skills/jenkins.svg";
import ansible from "../assets/skills/ansible.svg";
import terraform from "../assets/skills/terraform.svg";
import grafana from "../assets/skills/grafana.svg";
import prometheus from "../assets/skills/Prometheus.svg";
import firebase from "../assets/skills/firebase.svg";

const skills = [

    {name: "Java", icon: java},
    {name: "AWS", icon: aws},
    {name: "Docker", icon: docker},
    {name: "Kubernetes", icon: kubernetes},
    {name: "Jira", icon: jira},


    {name: "Springboot", icon: spring},
    {name: "JavaScript", icon: javascript},
    {name: "Postgresql", icon: postgresql},
    {name: "Linux", icon: bash},
    {name: "Jenkins", icon: jenkins},


    {name: "Grafana", icon: grafana},
    {name: "Prometheus", icon: prometheus},
    {name: "k6", icon: k6},
    {name: "Ansible", icon: ansible},
    {name: "Terraform", icon: terraform},


    {name: "TypeScript", icon: typescript},
    {name: "React.js", icon: react},
    {name: "Next.js", icon: nextjs},
    {name: "Nodejs", icon: nodejs},


    {name: "HTML5", icon: html},
    {name: "CSS", icon: css},
    // { name: "Github", icon: github },
    {name: "Git", icon: git},
    {name: "Postman", icon: postman},
    {name: "Firebase", icon: firebase},

    // { name: "Golang", icon: go },
    // { name: "MySql", icon: mysql },
    {name: "MongoDB", icon: mongodb},


    // { name: "Kafka", icon: kafka },
    // { name: "Astro", icon: astro },
];
---
<section>
    <h2 class="skills-heading">Technical Skills</h2>

    <div id="skills-container" class="tech-skills-list-container collapsed">
        {
            skills.map((skill) => (
                    <div class="tech-skill" title={skill.name}>
                        <img src={skill.icon.src} alt={skill.name + ' icon'} class="tech-icon"/>
                        <p>{skill.name}</p>
                    </div>
            ))
        }
    </div>

    <p id="toggle-button" class="view-more">View more</p>
</section>

<style>
    .skills-heading {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: var(--heading);
    }

    .tech-skills-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
        gap: 1rem;
        padding: 0.5rem 0;
        //max-height: 400px;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    .tech-skills-list-container.collapsed {
        max-height: 110px; /* approx height of 8 items */
    }

    .tech-skill {
        border: 1px dashed var(--card-border);
        text-align: center;
        border-radius: 0.5rem;
        transition: transform 0.2s ease;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        padding: 0.6rem;
        overflow: hidden;
        backdrop-filter: blur(20px);
        position: relative;
    }

    .tech-skill::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
        transition: left 0.5s ease;
    }

    .tech-skill:hover::before {
        left: 100%;
    }

    .tech-skill:hover {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), transparent);
        border: 0.9px solid rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }

    .tech-icon {
        width: 20px;
        height: 20px;
        border-radius: 5%;
    }

    .tech-skill p {
        margin: 0;
        font-size: 0.8rem;
        color: var(--text);
    }

    .view-more {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 0.85rem;
        color: var(--text4);
        cursor: pointer;
        user-select: none;
        transition: color 0.3s ease;

        -webkit-tap-highlight-color: transparent;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .view-more:hover {
        color: var(--text);
    }

</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const container = document.getElementById("skills-container");
        const toggleBtn = document.getElementById("toggle-button");

        if (container && toggleBtn) {
            toggleBtn.addEventListener("click", () => {
                const isCollapsed = container.classList.toggle("collapsed");
                toggleBtn.textContent = isCollapsed ? "View more" : "View less";
            });
        }
    });
</script>

