---

---

<section class="work-experience-section">
    <h4>Work Experience</h4>

            <article class="work-experience">
                <header>
                    <h5>Infosys - Software Developer Intern</h5>
                </header>
                <div class="work-experience-content">
                <ul>
                    <li>Built ShieldMe, a full-stack application for emergency response and mental well-being, by designing 4 backend microservices with Spring Boot and MongoDB, and a responsive frontend using React.</li>
                    <li>Increased application reliability by 90% through proper logging mechanisms and detailed error response handling across all services.</li>
                    <li>Enhanced user engagement by integrating key features, including user authentication, geolocation tracking, journaling tools, and automated SOS alerts with logs and email notifications.</li>
                </ul>
                </div>
            </article>

    <p class="more-work-experience">
        <a href="https://www.linkedin.com/in/ajaynegi45/details/experience/">More experience detail

        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg>
        </a>
    </p>
</section>

<style>
    .work-experience-section {
        margin-bottom: 3rem;
    }

    .work-experience {
        margin-bottom: 1.5rem;
    }
    .work-experience-content > ul {
        padding-left: 0.5rem;
        list-style-type: none;
    }


    li::before {
        content: '–';
        font-size: 20px;
        color: #4CAF50;
        margin-right: 10px;
    }

    .work-experience-content > ul > li {
    font-weight: 350;
    }

    .more-work-experience{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .more-work-experience > svg {
        width: 1rem;
        height: auto;
    }
</style>
