*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid transparent;
}

:root {
    /* Dark Mode Color Scheme */
    /*--bg: #18181b;*/
    --bg: hsl(220 20% 5%);
    --heading: #f5f5f7;
    --subheading: rgb(212 212 216); /* D4D4D8FF */

    --text: #B0B0B8;
    --text1: #A1A1A6; /* 6.88 */
    --text2: #9B9B9B;
    --text3: rgb(150, 150, 150);
    --text4: #86868b;
    --text5: rgb(115 115 115);

    --link: #2997ff;
    --link-hover: #0056b3;

    --card-border: rgb(38 38 38/1);
    --background-hover: #ffffff0d;
    /*background-color: #26262699; project card*/

    --ring-color: #4b4b4b;

    /* Light Mode Color Scheme */
    --light-bg: #ffffff;
    --light-heading: #ffffff;
    --light-text: #222222;

    --error-light: #f44336; /* #B00020 */
    --error-dark: #CF6679;

    --primary: #6c757d;

    --accent: #ff7f50; /* Muted orange */
    --hover-accent: #ff9e72;




    --transition-eased: ease-in-out;


    --transition-duration-micro-short: 0.1s;
    --transition-duration-micro-medium: 0.2s;
    --transition-duration-micro-long: 0.4s;


    --transition-micro-short: all 0.1s ease-in-out;
    --transition-micro-medium: all 0.2s ease-in-out;
    --transition-micro-long: all 0.4s ease-in-out;

    --transition-duration-macro-short: 0.15s;
    --transition-duration-macro-medium: 0.3s;
    --transition-duration-macro-long: 0.6s;

}

::selection {
    background: #22C55E4D;
    color: #22C55E;
}


/* Hide scrollbar for Chrome, Safari, and Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html {
    /*background: url('background.png') top center / 100% auto no-repeat; */
}
html, body {
    overflow: hidden; /* Hide overflow initially */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    font-optical-sizing: auto;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; /* For light mode use subpixel-antialiased */
    -moz-osx-font-smoothing: auto;
    font-feature-settings: 'liga' 1, 'calt' 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    background-color: var(--bg);

    /*background: hsl(220 20% 5%);*/
    color: var(--text);

    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 16px;

    /* Adding the enhanced blur reveal animation */
    /* animation: blur-reveal 400ms cubic-bezier(0.4, 0, 0.2, 1) forwards; */
    /*animation: blur-reveal 0.15s cubic-bezier(0.4, 0, 0.2, 1) forwards;*/
    /* will-change: transform, opacity; */


    /*transition: var(--transition-micro-medium, background-color 0.3s ease-in-out), color 0.3s ease-in-out;*/
    /*animation: blur-reveal var(--transition-duration-micro-medium, 0.2s) var(--transition-eased, ease-in-out) forwards;*/


    transition: background-color 0.3s, color 0.3s;
    animation: blur-reveal 0.15s cubic-bezier(0.4, 0, 0.2, 1) normal forwards;
    animation-timing-function: ease;
}

#main-body-section{
    background-color: var(--bg);
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    overflow: hidden;
}

@keyframes blur-reveal {
    0% {
        filter: blur(8px);
    }
    40% {
        filter: blur(6px);
    }
    80% {
        filter: blur(2px);
    }
    100% {
        filter: blur(0);
    }
}


h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
    font-weight: 600;
}

h1 {
    font-size: 3.618rem;
}

h2 {
    font-size: 2.236rem;
}

h3 {
    font-size: 1.618rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    color: var(--subheading);
    font-size: 1rem;
}

p {
    font-size: 15.5px;
    letter-spacing: 0.7px;
}

li {
    font-size: 15.5px;
    font-weight: 350;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

a {
    color: var(--link);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--link-hover);
    cursor: pointer;
}

a:hover > svg {
    color: var(--text);
    transform: scale(1.3);
    transition: transform 350ms ease-in-out;
}

button, a {
    transition: color 0.3s, background-color 0.3s;
}

button {
    background-color: var(--primary);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}

table {
    width: 100%;
}
hr {
    border: none;
}

pre {
    padding: 1em;
    border-radius: 8px;
    margin: 1rem 0;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
}

/*!* Dotted Background Layer *!*/
/*.dots-bg {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-image: radial-gradient(#444 1px, transparent 1px);*/
/*    background-size: 30px 30px;*/
/*    opacity: 0.2;*/
/*    z-index: 0;*/
/*    pointer-events: none;*/
/*}*/

.spotlight-wrapper {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spotlight {
    position: absolute;
    width: 560px;
    height: 1380px;
    opacity: 0.6;
    background: radial-gradient(68.54% 68.72% at 55.02% 31.46%, hsla(210, 100%, 85%, .08) 0, hsla(210, 100%, 55%, .02) 50%, hsla(210, 100%, 45%, 0) 80%);
    transform: rotate(-45deg) translateY(-350px);
    animation: moveLeftRight 5s ease-in-out infinite alternate;
}

.spotlight-2,
.spotlight-3 {
    width: 240px;
    background: radial-gradient(50% 50% at 50% 50%, hsla(210, 100%, 85%, .06) 0, hsla(210, 100%, 55%, .02) 80%, transparent 100%);
}

.spotlight-3 {
    transform: rotate(-45deg) translate(-180%, -70%);
}

.spotlight-2 {
    transform: rotate(-45deg) translate(5%, -50%);
}

.spotlight-4,
.spotlight-5,
.spotlight-6 {
    position: absolute;
    width: 560px;
    height: 1380px;
    opacity: 0.6;
    background: radial-gradient(68.54% 68.72% at 55.02% 31.46%, hsla(210, 100%, 85%, .08) 0, hsla(210, 100%, 55%, .02) 50%, hsla(210, 100%, 45%, 0) 80%);
    transform: rotate(45deg) translateY(-350px);
    animation: moveRightLeft 7s ease-in-out infinite alternate;
    right: 0;
}

.spotlight-5,
.spotlight-6 {
    width: 240px;
    background: radial-gradient(50% 50% at 50% 50%, hsla(210, 100%, 85%, .06) 0, hsla(210, 100%, 45%, .02) 80%, transparent 100%);
}

.spotlight-5 {
    transform: rotate(45deg) translate(-5%, -50%);
}

.spotlight-6 {
    transform: rotate(45deg) translate(180%, -70%);
}

/* Animations */
@keyframes moveLeftRight {
    0% { transform: translateX(0) rotate(-45deg) translateY(-350px); }
    50% { transform: translateX(100px) rotate(-45deg) translateY(-350px); }
    100% { transform: translateX(0) rotate(-45deg) translateY(-350px); }
}

@keyframes moveRightLeft {
    0% { transform: translateX(0) rotate(45deg) translateY(-350px); }
    50% { transform: translateX(-100px) rotate(45deg) translateY(-350px); }
    100% { transform: translateX(0) rotate(45deg) translateY(-350px); }
}
