---
import BaseHead from "./BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const {title, description, image} = Astro.props;
---
<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
<head>
    <BaseHead title={title} description={description} image={image}/>
</head>
<body transition:animate="initial">

<div class="dots-bg"></div>

<div class="spotlight-wrapper">
    <div class="spotlight spotlight-1"></div>
    <div class="spotlight spotlight-2"></div>
    <div class="spotlight spotlight-3"></div>
    <div class="spotlight spotlight-4"></div>
    <div class="spotlight spotlight-5"></div>
    <div class="spotlight spotlight-6"></div>
</div>
<main id="main-body-section">
<Navbar/>
<slot/>
<Footer/>
</main>
<!--<script type="module" is:inline>-->
    <!--    const audio = new Audio('/sound/click.mp3');-->
<!--    audio.preload = 'auto';-->
<!--    document.addEventListener('mousedown', (event) => {-->
<!--        const link = event.target.closest('a');-->
<!--        if (!link) return;-->
<!--        audio.currentTime = 0;-->
<!--        audio.play().catch(() => {-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>